<template name="leaderboard">
  <div>
    Total players: {{ playersCount }}
  </div>

  {{#each player}}
    <li class="player {{ selectedClass }}">{{name}}: {{score}}</li>
    <input type="button" class="remove" value="Remove Player">
  {{/each}}

  {{# if showSelectedPlayer}}
    <input type="button" class="increment" value="Give 5 Points">
    <input type="button" class="decrement" value="Take 5 Points">

    <li>Selected Player: {{showSelectedPlayer.name}}</li>
  {{/if}}

  {{> addPlayerForm}}
</template>
